.academy {
  grid-column-start: a-qa;
  grid-column-end: a-qa;
  grid-row-start: a-js-php;
  grid-row-end: qa-js-net-events;
  overflow: hidden;
  perspective: 1000px;

  &:hover .flip{
    transform: rotateY(-180deg);
  }
}

@media (max-width: 965px){
  .academy {
    grid-column-start: a-java-qa;
    grid-column-end: js-java-qa;
    grid-row-start: a-js-events;
    grid-row-end: java-php;
  }
}

.academy-cover,
.academy-content{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.academy-logo-size {
  position: relative;
  height: 0;
  width: 54%;
  padding: 0;
  padding-bottom: 100%;
}

.academy-logo {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.academy-cover{
  background-color: white;
}

.academy-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transform: rotateY(-180deg);
}

.academy-btn,
.academy-btn:visited {
  color: white;
  font-size: 0.9em;
  background-color: #2d99ff;
  border-width: 0;
  outline: 0;
  border-radius: 0.2em;
  padding: .3em 1.5em;
}

.academy-btn:hover,
.academy-btn:active {
  background-color: #0443a3;
  text-decoration: none;
}
