.blog {
  grid-column-start: php-events-blog-contacts;
  grid-column-end: php-events-blog-contacts;
  grid-row-start: qa-js-net-blog;
  grid-row-end: qa-java-net-contacts;
  position: relative;
  overflow: hidden;

  &:hover .overlay {
    left: 150%;
  }
}

@media (max-width: 965px){
  .blog {
    grid-column-start: events-blog-contacts-php-net;
    grid-column-end: end-content;
    grid-row-start: a-js-blog;
    grid-row-end: a-js-contacts;
  }
}

.blog-cover{
  background-color: #0443a3;
  font-size: 0.6em;
}

.blog-content {
  font-size: small;
  padding: .6em;
  overflow-y: auto;
}
