body{
  background-color: #eee;
  font-size: 1.7vw;
}

.cover{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.content{
  width: 100%;
  height: 100%;
  text-align: start;
  background-color: white;
  font-weight: 500;
}

.flip {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.overlay {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: .5s ease;
}

.link{
  color:blue;
  text-decoration: underline;
}
