.contacts {
  grid-column-start: php-events-blog-contacts;
  grid-column-end: php-events-blog-contacts;
  grid-row-start: qa-java-net-contacts;
  grid-row-end: last-line;
  position: relative;
  overflow: hidden;

  &:hover .overlay {
    right: 100%;
    top:100%;
  }
}

@media (max-width: 965px){
  .contacts {
    grid-column-start: events-blog-contacts-php-net;
    grid-column-end: end-content;
    grid-row-start: a-js-contacts;
    grid-row-end: java-php;
  }
}

.contacts-cover{
  background-color: #00255f;
  font-size: .6em;
}

.contacts-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow-y: hidden;
}

.contacts-btn,
.contacts-btn:visited {
  margin: 0 0.3rem;
  color: #666
}

.contacts-btn:hover,
.contacts-btn:active {
  color: #0443a3;
  text-decoration: none;
}
