.events {
  grid-column-start: php-events-blog-contacts;
  grid-column-end: php-events-blog-contacts;
  grid-row-start: a-js-net-events;
  grid-row-end: qa-js-net-blog;
  position: relative;
  overflow: hidden;

  &:hover .overlay {
    right: 200%;
    bottom: 100%;
  }
}

@media (max-width: 965px){
  .events {
    grid-column-start: events-blog-contacts-php-net;
    grid-column-end: end-content;
    grid-row-start: a-js-events;
    grid-row-end: a-js-blog;
  }
}

.events-cover{
  background-color: #2d99ff;
  font-size: .6em;
}

.events-content {
  font-size: small;
  padding: .6em;
  overflow-y: auto;
}
