.header {
  position: fixed;
  z-index: 10;
  left: 0;
  width:100%;
  height: 9.09vh;
  margin: auto;
  background-color: white;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: 10.07% [logo-start] 8.33% [logo-finish] 66.8%[message-start] 1% [message-finish] 1.43% [menu-start] 2.3% [menu-finish] 10.07%;
  grid-template-rows: 100%;
  line-height: 9.09vh;
  animation-name: dropdownHeader;
  animation-duration:  2s;
}

.binary-logo {
  grid-column-start: logo-start;
  grid-column-end: logo-finish;
  cursor: pointer;
}

.logo {
  vertical-align: middle;
}

.message {
  grid-column-start: message-start;
  grid-column-end: message-finish;
  font-size: 0.5em;
  color: #bec9da;
  cursor: pointer;
}

.menu {
  grid-column-start: menu-start;
  grid-column-end: menu-finish;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-switch {
  $diameter: min(5vh, 2vw);
  width:  $diameter;
  height: $diameter;
  border-radius: 50%;
  color: #fff;
  background-color: #f8991c;
  overflow: hidden;
  line-height: $diameter;
  text-align: center;
  vertical-align: top;
  font-size: calc(0.8 * min(5vh, 2vw));
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 4vh;
  right: 0;
}

.username {
  color: #9ba6b2;
  line-height: 1.25;
  border-bottom: 1px solid #9ba6b2;
}

.menu-list {
  display: none;
  width: 9.6em;
  font-size: 0.6em;
  list-style-type: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 0.8em 0.9em;
  line-height: 2rem;
}

.checkControl:checked ~ .menu-list {
  display: block;
}

.menu-item {
  padding: 0 .1em;
}

.menu-item:hover{
  background-color: #ccc;
}

.menu-item-profile {
  margin-top: 0.2em;
}

.menu-item-log-out {
  margin-bottom: 0.3rem;
}

@keyframes dropdownHeader {
  0% {top: -400px;}
  100% {top: 0;}
}
