.java {
  grid-column-start: js-java;
  grid-column-end: js-java;
  grid-row-start: qa-java-net-blog;
  grid-row-end: last-line;
  position: relative;
  overflow: hidden;

  &:hover .overlay {
    top: 100%;
  }
}

@media (max-width: 965px){
  .java {
    grid-column-start: a-java-qa;
    grid-column-end: js-php-net;
    grid-row-start: java-php;
    grid-row-end: qa-net;
  }
}

.java-cover {
  background-color: #e12b4c;
  font-size: 1.8em;
}

.java-content {
  padding: 0.8rem 0.8em;
  font-size: 0.85em;
}

