.js {
  grid-column-start: js-java;
  grid-column-end: js-java;
  grid-row-start: a-js-php;
  grid-row-end: qa-java-net-blog;
  overflow: hidden;
  perspective: 1000px;

  &:hover .flip{
    transform: rotateY(180deg);
  }
}

@media (max-width: 965px){
  .js {
    grid-column-start: js-java-qa;
    grid-column-end: events-blog-contacts-php-net;
    grid-row-start: a-js-events;
    grid-row-end: java-php;
  }
}

.js-cover,
.js-content{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.js-cover{
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #f7cf69;
  color: #000;
  font-size: 4.2em;
  font-weight: 600;
  padding: 0 .1em;
  line-height: 1.1;
}

.js-content{
  padding: 1rem;
  font-size: 0.9em;
  transform: rotateY(180deg);
}
