.main{
  width:79.86%;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: [a-qa] 25% [js-java] 25% [php-net] 31.3% [php-events-blog-contacts] 18.7%;
  grid-template-rows: [menu] 18.18% [a-js-php] 30.5913% [a-js-net-events] 10.3141% [qa-js-net-events] 10.3141% [qa-js-net-blog] 9.9631% [qa-java-net-blog] 10.6743% [qa-java-net-contacts] 9.9631%;
}

@media (max-width: 965px){
  .main{
    grid-template-columns: [a-java-qa] 44.52% [js-java-qa] 5.48% [js-php-net] 27.74% [events-blog-contacts-php-net] 22.26%[end-content];
    grid-template-rows: [menu] 13.04% [a-js-events] 17.75% [a-js-blog] 17.75% [a-js-contacts] 11.96% [java-php] 23.55% [qa-net] 15.95%[end];
  }
}
