.net {
  grid-column-start: php-net;
  grid-column-end: php-net;
  grid-row-start: a-js-net-events;
  grid-row-end: last-line;
  position: relative;
  overflow: hidden;

  &:hover .overlay {
    left: 150%;
    top: 100%;
  }
}

@media (max-width: 965px){
  .net {
    grid-column-start: js-php-net;
    grid-column-end: end-content;
    grid-row-start: qa-net;
    grid-row-end: end;
  }
}

.net-cover{
  background-color: #642077;
  font-size: 3.6em;
}

.net-content {
  padding: .85em;
  font-size: 0.85em;
  overflow-y: auto;
}
