.notification-container {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
  font-size: 0.6em;
  line-height: 1.2;
  width: 15em;
  padding: 0;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}

.notification {
  display: flex;
  align-content:flex-start;
  align-items:stretch;
  padding: 0.8em;
  padding-left: 0;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  box-shadow: 0 0 12px #999;
  cursor: pointer;
  opacity: 0.9;
  margin-top: 1em;

  &:hover, &:focus {
    opacity: 1;
  }
}

.notification-icon {
  align-self: center;
  font-size: 1.5em;
  padding: 0.6em;
}


.notification-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0;
}

.notification-success {
  background-color: #51a351;
}

.notification-warning {
  background-color: #f89406;
}

.notification-error {
  background-color: #bd362f;
}
