.php {
  grid-column-start: php-net;
  grid-column-end: end;
  grid-row-start: a-js-php;
  grid-row-end: a-js-php;
  position: relative;
  overflow: hidden;

  &:hover .overlay {
    left: 150%;
    bottom: 100%;
  }
}

@media (max-width: 965px){
  .php {
    grid-column-start: js-php-net;
    grid-column-end: end-content;
    grid-row-start: java-php;
    grid-row-end: qa-net;
  }
}

.php-cover{
  background-color: #8893c0;
  color: #000;
  font-size: 3.6em;
  font-style: italic;
}

.php-content {
  padding: 1rem;
  font-size: 0.9em;
  overflow-y: auto;
}
