.qa {
  grid-column-start: a-qa;
  grid-column-end: a-qa;
  grid-row-start: qa-js-net-events;
  grid-row-end: last-line;
  perspective: 1000px;

  &:hover .flip{
    transform: rotateX(180deg);
  }
}

@media (max-width: 965px){
  .qa {
    grid-column-start: a-java-qa;
    grid-column-end: js-php-net;
    grid-row-start: qa-net;
    grid-row-end: end;
  }
}

.qa-cover,
.qa-content{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.qa-cover{
  background-color: #52bf77;
  font-size: 3.6em;
  font-weight: 400;
}

.qa-content{
  padding: 0.85em;
  font-size: 0.85em;
  transform: rotateX(180deg);
}
